<nav class="navbar navbar-dark bg-primary">
  <h3>Reak-time Auction</h3>

</nav>

<div class="container">

  <div class="card">
    <div class="card-body">
      <button type="button" class="btn btn-primary" (click)="switchAction()">Create Auction</button>
      
    </div>
  </div>

  <h1>Categories</h1>

  <div class="card" style="text-align:center">
    <div class="card-body">
      <button type="button" class="btn btn-primary" (click)="showAuctionList('cellPhnones')">Cell Phones</button>
      <button type="button" class="btn btn-primary" (click)="showAuctionList('computers')">Computers</button>
      <button type="button" class="btn btn-primary" (click)="showAuctionList('tablets')">Tablets</button>      
      <button type="button" class="btn btn-rounded btn-primary">Primary</button>
    </div>
  </div>

  <app-auction-form *ngIf="ShowAuctionForm"></app-auction-form>

  <app-auction-list *ngIf="ShowAuctionList"></app-auction-list>
</div>


<!-- <div class="card" style="width: 20rem; padding-left: 15px">
  <div class="card-header">
    Featured
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div> -->


