<nav class="navbar navbar-dark bg-primary">
  <h3>Login Page</h3>
  <button type="button" class="btn btn-light" routerLink="/signup">Sign up</button>
</nav>

<div class="container" style="width: 100%; flex-wrap:nowrap">

  <div class="row">

    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="card-body">

        <form [formGroup]="loginForm" novalidate>


          <fieldset class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" formControlName="email">
          </fieldset>

          <fieldset class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" formControlName="password">
          </fieldset>

          <button type="submit" class="btn btn-default" (click)="submit()">Submit</button>
          <!--   -->
      </form>

      </div>

    </div>

  </div>






  <!-- <div class="row" style="height: 500px">
    <div class="img-class" >
      <img class="img-fluid" src="../../../assets/Taimoor.jpeg" alt="">
    </div>
    <div class="img-class">
      <img class="img-fluid" src="../../../assets/Taimoor.jpeg" alt="">
    </div>
    <div class="img-class">
      <img class="img-fluid" src="../../../assets/Taimoor.jpeg" alt="">
    </div>
  </div> -->




</div>

<!--  [disabled]="loginForm.status=='INVALID'" -->