<nav class="navbar navbar-dark bg-primary">
  <h3>Signup Page</h3>
  <button type="button" class="btn btn-light" routerLink="/login">Login</button>
</nav>

<div class="container">



  <form [formGroup]="signUpForm" novalidate>
    <fieldset class="form-group">
      <label for="first_name">First Name</label>
      <input type="text" class="form-control" id="first_name" name="first_name" formControlName="name">
    </fieldset>

    <fieldset class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" formControlName="email">
    </fieldset>

    <fieldset class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" formControlName="password">
    </fieldset>

    <button type="submit" class="btn btn-default" (click)="submit()">Submit</button>
  </form>

</div>

<div>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
          <th>#</th>
          <th>Todo Description</th>
          <th>Responsible</th>
          <th>Priority</th>
          <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let t of todoData.todos">
        <td><span>{{ t.id }}</span></td>
        <td><span>{{ t.description }}</span></td>
        <td><span>{{ t.responsible }}</span></td>
        <td><span>{{ t.priority }}</span></td>
        <td><button class="btn btn-primary">Delete</button></td>
        <!-- <td><button class="btn btn-primary"></button></td> -->
      </tr>
    </tbody>
  </table>
</div>